<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('include-all'); %>
    <link rel="stylesheet" href="game1.css">
    <script src="game1.js"></script>
</head>
<body>

<%- include('include-score'); %>

<div class="gameArea w3-cell-row w3-center">
    <img id="bottle-empty" src="bottle%20-%20empty.png" class="w3-hide">
    <img id="bottle-filled" src="bottle%20-%20filled.png" class="w3-hide">
    <div id="redGame" class="redGame w3-cell w3-cell-middle">
        <!-- https://stackoverflow.com/questions/2588181/canvas-is-stretched-when-using-css-but-normal-with-width-height-properties-->
        <!--<canvas id="redCanvas" style="width: 512px; height: 512px"></canvas>-->
        <canvas id="redCanvas" width="100" height="100"></canvas>
    </div>
    <div id="blueGame" class="blueGame w3-cell w3-cell-middle">
        <canvas id="blueCanvas" width="100" height="100"></canvas>
    </div>
</div>

<%- include('include-menu'); %>

<%- include('include-modal'); %>

</body>
</html>

