<div class="w3-cell-row w3-center">
    <div class="redScoreSection w3-cell">
        <div class="w3-container w3-red">
            <span id="redScore" class="w3-jumbo">&nbsp</span>
            <span id="maxRedScore" class="w3-jumbo">&nbsp</span>
        </div>
    </div>
    <div class="blueScoreSection w3-cell">
        <div class="w3-container w3-blue">
            <span id="blueScore" class="w3-jumbo">&nbsp</span>
            <span id="maxBlueScore" class="w3-jumbo">&nbsp</span>
        </div>
    </div>
</div>